{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 38.79126389738601,
        "longitude": -9.188261032104494,
        "elevation": 65,
        "unit_system": "metric",
        "location_name": "Odivelas",
        "time_zone": "Europe/Lisbon",
        "external_url": "https://hass.patriarca.pt",
        "internal_url": "http://hass.internal.patriarca.pt:8123"
    }
}